div#navigation a {display: inline;}
div:first-child {border-left: 1px solid;}
div {padding: 30px; background: silver;}

div.smiles {float: right;}
p {margin: 20px; padding: 20px; background: white; font-size: 15px; line-height: 18px;}

/*p {margin-left: 100px; margin-right: 100px;
width: 100px; color: silver; background-color: blue;}*/
/* right margin forced to be 200px */

p.auto {margin-left: 100px; margin-right: 100px; width: auto;}

/*margin-right is forced to be auto*/
p.force-auto {margin-left: 100px; margin-right: 100px; width: 100px;} 

/*To center text using auto instead of align*/
p.center {width: 100px; margin-left: auto; margin-right: auto;}

ul {margin-bottom: 15px; border: 1px solid; }
li {margin-top: 10px; margin-bottom: 20px;}
h2 {margin-top: 28px;background-color: silver}

img.small{display: block; width: 25px; margin: 0;}
img.medium{display: block; width: 50px; margin: 0;}
img.large{display: block; width: 100px; margin: 0;}

p.scroll {width: 100px; margin-left: auto; margin-right: auto; height: 1em;}

/*negative values*/
p.neg {margin-top: -50px; margin-right: 10px;
margin-left: 10px; margin-bottom: 0;
border: 3px solid gray;}

